a,a:visited{color:white;}
.nav-wrapper{
   background-color:black;
   color:white;
   display:flex;
   height:8vh;
   padding: 2%;
   padding-top: 5vh;
   padding-left: 1vw;
   padding-right: 1vw;
   align-items:center;
   justify-content: space-between;
   text-align: center;
}
.menuBtn{
   height:10vh;
   width:5vw;
   margin-top:0vw;
   padding-bottom:1vh;
   border:none;
   border-radius: 15%;
   font-size:2em;
   line-height:0.1vh;
   background-color:white;
   color:black;
   transform:rotate(-90deg);
   cursor: pointer;
 }
 .menuBtn1{
   height:10vh;
   width:5vw;
   margin-top:0vw;
   padding-bottom:1vh;
   border:none;
   border-radius: 15%;
   font-size:2em;
   line-height:0.1vh;
   background-color:silver;
   color:white;
   transform:rotate(-90deg);
   cursor: pointer;
 }
 .menu{
   display:none;
 }
 .menu1{
   display:flex;
   position: absolute;
   right:0.8vw;
   top:15.5vh;
   width:10vw;
   border-radius: 10%;
   padding-top:0px;
   padding:2%;
   align-items:center;
   background-color:silver;
   color:white;
 }
 .tdL{
   padding: 0px;
   margin: 0px;
   height:2vh;
   width:30vw;
}